html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

body {
  background: lightblue url(../images/bg-images/main-bg.jpg) repeat;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  padding: 20px;
}

body header {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
}

body header ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

body header ul a {
  text-decoration: none;
  padding: 30px 40px;
  color: black;
  font-weight: 900;
  background: white;
  border: 1px solid black;
}

.game-container {
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 20px;
}

.game-container .player-section {
  background: white;
  border: 1px solid black;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-gap: 30px;
  align-content: start;
  padding: 20px;
}

.gameBoard {
  display: grid;
  justify-items: center;
  align-items: center;
}

.board {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background: white;
  grid-gap: 10px;
  padding: 10px;
  border: 1px solid black;
}

.board .cells {
  background: rgba(0, 0, 0, 0.391);
}

.popup-form {
  position: absolute;
  top: 20%;
  bottom: 20%;
  left: 20%;
  right: 20%;
  background: white;
  border: 1px solid black;
  display: none;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  padding: 20px;
}

#formClose {
  justify-self: end;
}

.popup-form form {
  display: grid;
  grid-template-rows: 1fr auto;
  grid-gap: 10px;
}

.popup-form form > *{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: none;
}

.popup-form form > * label {
  font-weight: 900;
}

.popup-form form > * input {
  padding: 5px 10px;
}

.popup-form form > * button {
  background: white;
  border: 1px solid black;
  padding: 30px 30px;
  transition: all 0.5s;
}

.popup-form form > * button:hover {
  transform: scale(1.05);
}
